image: node:latest

stages:
  - deploy

pages:
  stage: deploy
  image: node:lts-slim
  script:
    - env | ( grep YAWIK_VUE_ROUTER_BASE || echo "ROUTER_BASE=/${CI_PAGES_URL#*://*/}/" ) | grep YAWIK_ | cut -d_ -f2,2,3 > .env.local
    - env | ( grep YAWIK_ || echo -n "" ) | grep YAWIK_ALGOLIA | grep -v YAWIK_VUE_ROUTER_BASE | cut -d_ -f2,3 >> .env.local
    - env | ( grep YAWIK_ || echo -n "" ) | grep YAWIK_ | grep -v YAWIK_VUE_ROUTER_BASE | grep -v YAWIK_ALGOLIA >> .env.local
    - yarn
    - yarn build
    - mkdir .public
    - cp -r dist/spa/* .public
    - cp dist/spa/index.html .public/404.html
    - rm -Rf public
    - mv .public public
    - find public -type f -regex '.*\.\(htm\|html\|txt\|text\|js\|css\)$' -exec gzip -f -k {} \;
  artifacts:
    paths:
      - public
  only:
    - main

